<h3>Witaj {{ parameters.username }}</h3>
<p>Dziękujemy za założenie konta na pytacz.pl</p>
<p>Aby potwierdzić swoją rejestrację kliknij w ten link: http://pytacz.pl/users/{{ parameters.hash }}/activate</p>